<div class="top-image">
  <%# 単語ボタン %>
  <div class="learn-box">
    <ul class="learn-tags">
      <li class="start-tag">  開始 </li>
      <li class="new-tag">  作成 </li>
      <li class="edit-tag">  編集 </li>
    </ul>
  </div>
  <%# 実施の結果 %>
  <div class="result-box">
    <img src="g" alt="image"
      class="w-full">
  </div>
</div>
